@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome</h1>
    <h4 class="my-5">>Click on the top header to access departments and seller options.<</h4>
</div>
